rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuth() {
      return request.auth != null;
    }

    function isCreator(id) {
      return isAuth() && request.auth.uid == id;
    }

    function isGameCreator(gameId) {
      return isCreator(get(/databases/$(database)/documents/games/$(gameId)).data.user);
    }

    match /games/{gameId} {
      allow read;
      allow create: if isAuth();
      allow update, delete: if isGameCreator(gameId);

      match /leaderboard/{scoreId} {
        allow read;
        allow create: if isAuth();
        allow update, delete: if false;
      }

      match /characters/{characterId} {
        allow read;
        allow write: if isGameCreator(gameId);
      }
		}
    
    match /users/{userId} {
      allow read, create;
      allow update, delete: if isCreator(userId);
    }
  }
}