rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuth() {
      return request.auth != null;
    }

    function isCreator(id) {
      return isAuth() && request.auth.uid == id;
    }

    function isGameCreator(gameId) {
      return isCreator(firestore.get(/databases/(default)/documents/games/$(gameId)).data.user);
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*');
    }

    match /{userId}/{profilePicture} {
      allow read;
      allow write: if isCreator(userId) && isImage();
    }

    match /{userId}/{gameId}/{fileName} {
      allow read;
      allow write: if isAuth() && isImage();
    }

    match /{userId}/{gameId}/{characterId}/{fileName} {
      allow read;
      allow write: if isGameCreator(gameId) && isImage();
    }
  }
}
